#our-team{
    margin-top: 50px;
    .container{
        .section-heading {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #0c5b47;
            p {
              font-style: italic;
            }
            h3 {
              font-size: 50px;
              font-weight: 400;
            }
          }
          .row{
            justify-content: center;
          }
          .product-container{
            display: flex;
            justify-content: center;
            align-items: center;
            .price-card{
                max-width: 300px;
                color: #0c5b47;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: 50px;
                margin-left: 20px;
            }
        }
    }
}